from IPython.core.interactiveshell 
import InteractiveShell InteractiveShell.ast_node_interactivity = "all" 
import numpy as np
 import pandas as pd 
import math
import json
import time 
import matplotlib.pyplot as plt 
import seaborn as sns from sklearn.metrics.pairwise 
import cosine_similarity from sklearn.model_selection 
import train_test_split from sklearn.neighbors 
import NearestNeighbors 
import joblib 
import scipy.sparse from scipy.sparse 
import csr_matrix from scipy.sparse.linalg 
import svds import warnings; warnings.simplefilter('ignore') %matplotlib inline 
